@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start: #f8fafc;
  --background-end: #ffffff;
  --foreground: #171717;
}

body {
  background: linear-gradient(to bottom, var(--background-start), var(--background-end));
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#chatbox a {
  color: #3b82f6;
  font-weight: bold;
  text-decoration: underline;
}
